<section>
  <h1>O que é NgRx?</h1>

  <p>
    NgRx é um framework para construir aplicações reativas em Angular. O NgRx fornece bibliotecas para:
  </p>

  <ul>
    <li>Gerenciando o estado global e local.</li>
    <li>Isolamento de efeitos colaterais para promover uma arquitetura de componentes mais limpa.</li>
    <li>Gestão de coleção de entidades.</li>
    <li>Integração com o Roteador Angular.</li>
    <li>Ferramentas do desenvolvedor que aprimoram a experiência do desenvolvedor ao criar muitos tipos diferentes de
      aplicativos.</li>
  </ul>

  <h1>Pacotes</h1>
  <p>Os pacotes NgRx são divididos em algumas categorias principais</p>

  <h2>Store</h2>
  <ul>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/store"
        target="_blank"
        title="@ngrx/store"
      >@ngrx/store:</a>Gerenciamento de estado global com tecnologia RxJS para aplicativos Angular, inspirados no
      Redux.
    </li>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/effects"
        target="_blank"
        title="@ngrx/effects"
      >@ngrx/effects:</a>Modelo de efeito colateral para @ngrx/store.
    </li>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/router-store"
        target="_blank"
        title="@ngrx/router-store"
      >@ngrx/router-store:</a>Ligações para conectar o roteador angular ao @ngrx/store.
    </li>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/entity"
        target="_blank"
        title="@ngrx/entity"
      >@ngrx/entity:</a>Adaptador Entity State para gerenciar coleções de registros.
    </li>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/component-store"
        target="_blank"
        title="@ngrx/component-store"
      >@ngrx/component-store:</a>Biblioteca autônoma para gerenciar o estado local/componente.
    </li>
  </ul>

  <h2>Data</h2>
  <ul>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/data"
        target="_blank"
        title="@ngrx/data"
      >@ngrx/data:</a>Extensão para gerenciamento simplificado de dados de entidades.
    </li>
  </ul>

  <h2>View</h2>
  <ul>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/component"
        target="_blank"
        title="@ngrx/component"
      >@ngrx/component:</a>Extensão para aplicativos Angular totalmente reativos.
    </li>
  </ul>

  <h2>Developer Tooling</h2>
  <ul>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/store-devtools"
        target="_blank"
        title="@ngrx/store-devtools"
      >@ngrx/store-devtools:</a>Instrumentação para @ngrx/store que permite rastreamento visual de estado e
      depuração de viagem no tempo.
    </li>
    <li>
      <a
        mat-button
        href="https://ngrx.io/guide/schematics"
        target="_blank"
        title="@ngrx/schematics"
      >@ngrx/schematics:</a>Biblioteca de andaimes para aplicativos Angular usando bibliotecas NgRx.
    </li>
  </ul>

</section>
