<mat-list>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Home"
      color="primary"
    >home
    </mat-icon>
    <a
      class="link"
      routerLink=""
      routerLinkActive="link--active"
    >Dashboard</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Cadastrar Informações"
      color="primary"
    >add
    </mat-icon>
    <a
      class="link"
      routerLink="create"
      routerLinkActive="link--active"
    >Create</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Visualizar Informações"
      color="primary"
    >description
    </mat-icon>
    <a
      class="link"
      routerLink="read"
      routerLinkActive="link--active"
    >Read</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Atualizar Dados"
      color="primary"
    >update
    </mat-icon>
    <a
      class="link"
      routerLink="/update"
      routerLinkActive="link--active"
    >Update</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon
      aria-hidden="false"
      aria-label="Delete"
      color="primary"
    >delete
    </mat-icon>
    <a
      class="link"
      routerLink="/delete"
      routerLinkActive="link--active"
    >Delete</a>
  </mat-list-item>
</mat-list>
